.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 200px;
  gap: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Ensures it doesn't break layout if screen is small */
}

.form label {
  font-weight: 600;
  margin-right: 5px;
}

.form input {
  padding: 10px;
  border: 2px solid rgb(236, 109, 4);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}

.form input:focus {
  border-color: #007bff;
}

.form button {
  padding: 10px 15px;
  background-color: #fff;
  border: 2px solid #b61c1c;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
}

.form button:hover {
  background-color: #06da5e;
  box-shadow: 0 2px 4px rgba(4, 230, 238, 0.2);
}
