table {
  width: 60%;
  max-width: 600px;
  margin: 40px auto; /* center it */
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgb(9, 204, 218);
  font-family: Arial, sans-serif;
}
/* Header */
thead {
  background-color: #5cf436;
  color: rgb(187, 10, 10);
  text-align: center;
}

th, td {
  padding: 16px;
  font-size: 16px;
}

/* Thin black line between columns */
th:first-child, td:first-child {
  border-right: 1px solid rgb(0, 0, 0);
}

/* Zebra striping */
tbody tr:nth-child(even) {
  background-color: #1f050533;
}

tbody tr{
    text-align: center;

}
/* Hover effect */
tbody tr:hover {
  background-color: #c76f6ff3;
  color: #5cf436;
}

td {
  color: #333;
}
