.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #04d816;
  color: rgb(214, 19, 19);
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

